<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu</title>
    <link rel="stylesheet" href="public/css/style.css">
</head>
<body>
    <div class="container">
        <div class="title">
            <h1>Essa é a aplicação do grupo 1</h1>
        </div>

        <div class="content">
            <div class="img">
                <img class="emoji" src="public/imgs/haha.png" alt="">
            </div>
            

            <div class="buttons">
                <button onclick="">PIADAS</button><br>
                <button onclick="">ATIVIDADES</button>
            </div>
        </div>
    </div>
    

<script src="route/apiChuckNorrisRoute.js"></script>
</body>
</html>